body
{
    font-family: Arial, Helvetica, sans-serif;
}

.sidebar
{
    width: 500px;
    height: 600px;
    float: right;
    background-color: #ededed;
}

.column
{
    width: 250px;
    float: left;
    padding: 0px 10px;
}